systemLog:
  destination: file
  path: "/var/log/mongodb/mongod.log"
  logAppend: true
net:
  bindIp: "{{ mongo_interfaces | join(',') }}"
  port: 27017
storage:
  dbPath: "{{mongodb_db_path}}"
{% if mongodb_storage_engine | default(false) %}
  engine: "{{ mongodb_storage_engine }}"
{% endif %}

{% if mongo_replication_set -%}
replication:
  replSetName: "{{mongo_replication_set}}"
{%- endif %}
